# dependencies
node_modules/

# build outputs
.next/
out/

# system files
.DS_Store
Thumbs.db

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode config
.vscode/

# production
.vercel/
